{% extends 'base.html.twig' %}

{% block title %}New Praticien{% endblock %}

{% block body %}
    <h1>Create new Praticien</h1>

    {{ include('praticien_controller_crud/_form.html.twig') }}

    <a href="{{ path('app_praticien_controller_crud_index') }}">back to list</a>
{% endblock %}
